<div class="navbar-findmike">
  <span class="title">Find M<%= image_tag "Microphone-upright-white.svg", height: 40 %>ke</span>


    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Home", root_path%>
        </li>
        <% if current_user.venues.present? %>
          <li>
            <%= link_to "Host an event", new_event_path%>
          </li>
        <% end %>

        <li>
          <div class="drop-down">
            <% if current_user.photo.present? %>
              <div id="drop-down-button">
                <%= cl_image_tag current_user.photo.key, class: "avatar-bordered" %>
              </div>
            <% else %>
              <div id="drop-down-button">
                <%= image_tag "user.svg", class: "avatar-bordered"%>
              </div>
            <% end %>
            <div id="drop-down-content" class="drop-down-content">
              <% if current_user.venues.present? %>
                <%= link_to "Manage my venue", "#" %>
                <%= link_to "Manage my events", "#" %>
                <%= link_to "Manage my venue", "#" %>
                <%= link_to "Manage my bookings", "#" %>
                <%= link_to "My account", "#" %>
              <% else %>
                <%= link_to "My bookings", "#" %>
                <%= link_to "My profile", "#" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, id: "last-link"%>
            </div>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path%>
        </li>
      <% end %>
    </ul>
</div>
