
<% if @events.blank? %>
  There are no events on this date.
<% else %>
  <div class="card-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <% if event.photo.attached? %>
          <div><%= cl_image_tag event.photo.key, height: 150, width: 150, crop: :fill %></div>
        <% end %>
        <div class="event-details">
          <h2><%= link_to event.name,  event_path(event)%></h2>
          <span><%= event.venue.address %></span><br>
          <span><%= event.available_spots %> spots left...</span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>