<div class="container">
  <div class="row">
  <div class="col-8">
  <% if @event.photo.attached? %>
  <div class="event-image">
    <%= cl_image_tag @event.venue.photo.key, height: 400, width: 800, crop: :fill %></div>
  <% end %>
</div>
<div class="card col-4">
<% if @event.cancelled == true %>
  <h2>CANCELLED</h2>
<% end %>
<h1><%= @event.name %></h1>
<p><i class="far fa-clock"></i> <%= @event.time.strftime("%-l%P") %></p>
<p><i class="far fa-calendar-alt"></i> <%= @event.date.strftime("%A #{@event.date.day.ordinalize} %B") %></p>
<%= link_to venue_path(@venue) do %><%= @event.venue.name %><br><% end %>
<%= @event.venue.address %><br>
<%= @event.venue.postcode %><br>
<%= @event.information %><br>
<% if @event.bringer %>
  <p><i class="fas fa-user-friends"></i> bringer</p>
<% end %>
<%= @event.available_spots %><br>
</div>
</div>
<h2>
</h2>
<h3>
<% if @event.venue == current_user.venues.first %>
  <%= link_to 'Edit Event', edit_event_path(@event) %><br>
  <%= link_to 'Cancel Event', cancel_event_path(@event), method: :patch %><br>
</h3>

  <h2>Requested Bookings</h2>
  <% @event.bookings.each do |booking| %>
    <% if booking.approved %>
      APPROVED
    <% end %>
    <%= booking.user.first_name %> <%= booking.user.last_name %> <%= booking.user.email %>
    <% if booking.approved %>
      Booked!
    <% else %>
      <%= link_to "Approve Booking", event_booking_approve_path(@event, booking), method: :patch %>
    <% end %>
  <% end %>
<% end %>
<% if Booking.where(["user_id = ? and event_id = ?", current_user, params[:id]]).empty? %>
<%= simple_form_for([@event, @booking]) do |f| %>
  <%= f.submit %>
<% end %>
<% else %>
<p>You are already booked on to this event</p>
<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_booking_path(@event, @booking),
    method: :delete, data: { confirm: "Delete your booking for #{@event.name}?" } %>
<% end %>

</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

