<% if @event.cancelled == true %>
  <h2>CANCELLED</h2>
<% end %>
<%= @event.name %><br>
<%= @event.venue.address %><br>
<%= @event.time %><br>
<%= @event.date %><br>
<%= @event.information %><br>
<%= @event.bringer %><br>
<%= @event.available_spots %><br>

<% if @event.venue == current_user.venues.first %>
  <%= link_to 'Edit Event', edit_event_path(@event) %><br>
  <%= link_to 'Cancel Event', cancel_event_path(@event), method: :patch %><br>

  <h2>Requested Bookings</h2>
  <% @event.bookings.each do |booking| %>
    <% if booking.approved %>
      APPROVED
    <% end %>
    <%= booking.user.first_name %> <%= booking.user.last_name %> <%= booking.user.email %> <%= link_to "Approve Booking", event_booking_approve_path(@event, booking), method: :patch %>
  <% end %>
<% end %>

<% if Booking.where(["user_id = ? and event_id = ?", current_user, params[:id]]).empty? %>
<%= simple_form_for([@event, @booking]) do |f| %>
  <%= f.submit %>
<% end %>
<% else %>
<p>You are already booked on to this event</p>
<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_booking_path(@event, @booking),
    method: :delete, data: { confirm: "Delete your booking for #{@event.name}?" } %>
<% end %>


