<div class="header" style="background-image: url(<%= image_url("brick-wall.png") %>)">
  <h1 class="header-text"><%= @event.name %></h1>
</div>
<div class="container">

  <div class="row mt-5">
    <div class ="event_bio col-8">
      <div class="event-show-image-card">
        <% if @event.photo.attached? %>
          <div class="event-image" style="background-image: url(<%= cl_image_path(@event.venue.photo.key) %>)">
            <% if @event.cancelled == true %>
              <h2>CANCELLED</h2>
            <% end %>
          </div>
        <% end %>
        <div class="event_details_card">
          <div class="d-flex">
            <div class="event_details_card_box">
              <div>
                <i class="far fa-calendar-alt"></i>
                <%= @event.date.strftime("%a #{@event.date.day.ordinalize} %B") %>
              </div>
            </div>
            <div class="event_details_card_box">
              <div><i class="far fa-clock"></i>
                <%= @event.time.strftime("%-l%P") %>
              </div>
            </div>
          </div>
          <hr>
          <div class="d-flex">
            <div class="event_details_card_box">
              <div><%= image_tag"Microphone.svg", id:'microphone_icon' %>
                5 minutes slot
              </div>
            </div>
            <div class="event_details_card_box">
              <div><i class="fas fa-user-friends"></i>
                <% if @event.bringer %>
                  bringer
                <% end %>
              </div>
            </div>
          </div>
          <div class="vl"></div>
          <div class="cover"></div>
        </div>
      </div>
        <div><%= @event.name %> is the hottest open mic event in London. Each week, unwitting amatuers try to entertain the audience and last until the sound of the gong.</div>
      </div>
      <div class="col-4">
        <div class="Booking_slot">
          <% if Booking.where(["user_id = ? and event_id = ?", current_user, params[:id]]).empty? %>
            <div><p><%= @event.available_spots%> slots remaining</p></div>
            <div id="event_booking_modal_button" class="modal_button">Book event</div>
          <% else %>
            <p>You are booked on to this event</p>
            <%= link_to 'Cancel your booking', event_booking_path(@event, @booking), class: "delete-booking btn",
            method: :delete, data: { confirm: "Delete your booking for #{@event.name}?" } %>
          <% end %>
        </div>
      </div>
  </div>
<% if @bookings.any? %>
  <h2 class="event-heading">Performers at this event</h2>
  <div class="scrollable-card-list-performers left-align-slick">
    <% @bookings.each do |booking| %>
      <div class="performer_card">
        <div class="artist">
          <div class="performer_photo" style="background-image: url(<%= cl_image_path(booking.user.photo.key, width: 100, height: 100, crop: :fill) %>)"></div>
        </div>
          <div class="performer_name"><%= booking.user.stage_name %></div>
          <div class="performer_bio"> <%= booking.user.biography %></div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class="event-heading">Be the first to book on to this event!</h3>
<% end %>

<div class= "event_address">
  <div class="event-address-details">
    <div class="event-address-icon-text">
      <div><i class="fas fa-map-marker-alt"></i></div>
      <div>
        <h3><%= @event.venue.name %></h3>
        <% lines = @event.address.split(',') %>
        <p><% lines.each do |line| %>
          <%= line %><br>
        <% end %>
        <%= @event.venue.postcode %></p>
      </div>
    </div>
    <div>
      <%= link_to "See all events at #{@event.venue.name}", venue_path(@event.venue) %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; min-height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div id="event_booking_modal" class="event_booking_modal">
  <div class="event_booking_modal_content">
    <h2><%= @event.name %></h2>
    <table>
      <tr>
        <td><i class="fas fa-map-marker-alt"></i></td>
        <td><%= @event.venue.name %></td>
      </tr>
      <tr>
        <td><i class="far fa-calendar-alt"></i></td>
        <td><%= @event.date.strftime("#{@event.date.day.ordinalize} %B") %></td>
      </tr>
      <tr>
        <td><i class="far fa-clock"></i></td>
        <td><%= @event.time.strftime("%-l%P") %></td>
      </tr>
      <tr>
        <td><%= image_tag "Microphone-white.svg", width: "20px" %></td>
        <td>5 minute slot</td>
      </tr>
      <% if @event.bringer %>
        <tr>
          <td><i class="fas fa-user-friends"></i></td>
          <td>Bringer</td>
        </tr>
      <% end %>
    </table>
    <%= form_with do |form| %>
      <%= form.check_box :terms %> I agree to the terms and conditions for this event.
    <% end %>
    <span id="close_event_booking_modal"><i class="fas fa-times"></i></span>
    <div class="event_booking_confirm"><%= link_to "Confirm", event_bookings_path(@event, @booking), method: :post %></div>
  </div>
</div>
</div>
