<%= @event.name %><br>
<%= @event.address %><br>
<%= @event.time %><br>
<%= @event.date %><br>
<%= @event.information %><br>
<%= @event.bringer %><br>
<%= @event.available_spots %><br>

<% if Booking.where(["user_id = ? and event_id = ?", current_user, params[:id]]).empty? %>
<%= simple_form_for([@event, @booking]) do |f| %>
  <%= f.submit %>
<% end %>
<% else %>
<p>You are already booked on to this event</p>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
