<h1>
  <%= @event.name %>
</h1>

<h2>
  Hosted at: <%= @event.venue.name %>
</h2>

<ul>
  <li>Address: <%= @event.address %></li>
  <li>Postcode: <%= @event.venue.postcode %></li>
  <li>Time: <%= @event.time %></li>
  <li>Date: <%= @event.date %></li>
  <li>Information: <%= @event.information %></li>
  <li>Availability: <%= @event.available_spots %>/<%= @event.total_spots %></li>
  <li>Bringer: <%= @event.bringer %></li>
</ul>

<% if Booking.where(["user_id = ? and event_id = ?", current_user, params[:id]]).empty? %>
<%= simple_form_for([@event, @booking]) do |f| %>
  <%= f.submit %>
<% end %>
<% else %>
<p>You are already booked on to this event</p>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
