<div class="curtains">
  <div class="curtain-left"></div>
  <div class="scene" style="background-image: url(<%= image_url("brick-wall.png") %>)"></div>
  <div class="spotlight"></div>
  <div class="curtain-right"></div>
    <h1>Find your next gig in the spotlight...</h1>
<div class="search-bar">
  <%= form_tag events_path, method: :get do %>
    <%= date_field_tag :query %>
    <%= check_box_tag :availability%>
    <%= label_tag(:availability, "Only events with availability.") %>
    <%= submit_tag "search", class: "btn search-btn" %>
  <% end %>
</div>
<div class="view-all"><%= link_to "View All Events", events_path %></div>
</div>
