<div class="header" style="background-image: url(<%= image_url("brick-wall.png") %>)">
  <h1 class="header-text">Hi <%= current_user.first_name %></h1>
</div>
<div class="user-area-container">
  <div class="user-dashboard">
    <table class="dashboard-table">
      <tr>
        <td class="dashboard-icon"><i class="fas fa-home"></i></td>
        <td class="dashboard-link"> <%= link_to "Manage my venue", edit_venue_path(current_user.venues.first) %></td>
      </tr>
      <tr>
        <td class="dashboard-icon"><%= image_tag "Microphone-white.svg", height: "20px" %></td>
        <td class="dashboard-link"> <%= link_to "Manage my events", pages_manage_my_events_path %></td>
      </tr>
      <tr>
        <td class="dashboard-icon dashboard-active"><i class="fas fa-users"></i></td>
        <td class="dashboard-link dashboard-active"> <%= link_to "Manage bookings", pages_manage_my_bookings_path %></td>
      </tr>
      <tr>
        <td class="dashboard-icon"><i class="fas fa-user"></i></i></td>
        <td class="dashboard-link"> <%= link_to "My account", edit_user_registration_path %></td>
      </tr>
    </table>
  </div>
  <div class="manage-bookings-container">
    <% @events.each do |event| %>
      <div class="heading">
        <%= event.name %> - <%= event.date.strftime("#{event.date.day.ordinalize} %B %Y") %>
      </div>
      <div class="pending-bookings">
        <h2>Pending</h2>
        <% if event.bookings.where(approved: false).size > 0 %>
          <div class="scrollable-cards-list">
            <% event.bookings.where(approved: false).each do |booking| %>
              <div class="manage-booking-card">
                <div class="dark-top-strip">
                  <div class="user-avatar-position">
                    <%= cl_image_tag booking.user.photo.key, width:120, height:120, crop: :fill, class: "avatar-large-bordered" %>
                  </div>
                </div>
                <div class="booking-user-info">
                  <div class="center-text">
                    <span id="booking-user-name"><%= booking.user.first_name %> <%= booking.user.last_name %></span><br>
                    <%= booking.user.user_rating %>
                  </div><br>
                  <div class="booking-user-details">
                    <%= booking.user.biography %><br><br>
                    <i class="fas fa-phone"></i> <%= booking.user.telephone %><br><br>
                    <i class="fas fa-envelope"></i> <%= booking.user.email %>
                  </div>
                  <div class="buttons-flex">
                    <%= link_to "Approve", event_booking_approve_path(booking.event, booking), method: :patch, class: "approve_button" %><%= link_to "Decline", event_booking_path(booking.event, booking), method: :delete, data: { confirm: "Delete your booking for #{booking.event.name}?" }, class: "decline-button" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          There are no pending bookings for this event.
        <% end %>
      </div>

      <h2>Approved</h2>
      <div class="approved-bookings">
        <% if event.bookings.where(approved: true).size > 0 %>
            <% event.bookings.where(approved: true).each do |booking| %>
              <div class="manage-booking-card">
                <div class="dark-top-strip">
                  <div class="user-avatar-position">
                    <%= cl_image_tag booking.user.photo.key, width:120, height:120, crop: :fill, class: "avatar-large-bordered" %>
                  </div>
                  <div class="approved-tick-position">
                    <i class="fas fa-check"></i>
                  </div>
                </div>

                <div class="booking-user-info">
                  <div class="center-text">
                    <span id="booking-user-name"><%= booking.user.first_name %> <%= booking.user.last_name %></span><br>
                    <%= booking.user.user_rating %>
                  </div><br>
                  <div class="booking-user-details">
                    <%= booking.user.biography %><br><br>
                    <i class="fas fa-phone"></i> <%= booking.user.telephone %><br><br>
                    <i class="fas fa-envelope"></i> <%= booking.user.email %>
                  </div>
                  <div class="buttons-flex">
                    <% if booking.performed %>
                      <%= link_to "Mark as no show", event_booking_mark_no_show_path(booking.event, booking), method: :patch, class: "decline-button" %>
                    <% else %>
                      <div class="decline-button">Marked as no show</div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
        <% else %>
          There are no approved bookings for this event.
        <% end %>
      </div>
    <% end %>
  </div>
</div>

