<div class="container">
  <h1 class="underline">Hi <%= current_user.first_name%>
  </h1>
    <h2>Your Account Details</h2>
      <div class='box_container'>Biography: <%= current_user.biography%></div>
        <div class='box_container'>First Name:  <%= current_user.first_name%></div>
        <div class='box_container'>Last Name:  <%= current_user.last_name %><br></div>
        <div class='box_container'>Email Address: <%= current_user.email %><br></div>
        <div class="btn-primary"></div>
        <div class="edit_account"><%= link_to "Edit Account", edit_user_registration_path %></div>
</div>
