<%= simple_form_for @venue do |f| %>
  <div class="form-inputs">
      <%= f.input :name,
                  required: true %>
      <%= f.input :address,
                  required: true %>
      <%= f.input :postcode,
                  required: true %>
      <%= f.input :email %>
      <%= f.input :telephone %>
      <%= f.input :website %>
      <%= f.input :photo, as: :file%>

    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update Venue", class: "edit-button" %>
    </div>
<% end %>
