<div class="header" style="background-image: url(<%= image_url("brick-wall.png") %>)">
  <h1 class="header-text">Hi <%= current_user.first_name %></h1>
</div>
<div class="user-area-container">
  <div class="user-dashboard">
    <table class="dashboard-table">
      <tr>
        <td class="dashboard-icon dashboard-active"><i class="fas fa-home"></i></td>
        <td class="dashboard-link dashboard-active"> <%= link_to "Manage my venue", edit_venue_path(current_user.venues.first) %></td>
      </tr>
      <tr>
        <td class="dashboard-icon"><%= image_tag "Microphone-white.svg", height: "20px" %></td>
        <td class="dashboard-link"> <%= link_to "Manage my events", pages_manage_my_events_path %></td>
      </tr>
      <tr>
        <td class="dashboard-icon"><i class="fas fa-users"></i></td>
        <td class="dashboard-link"> <%= link_to "Manage my bookings", pages_manage_my_bookings_path %></td>
      </tr>
      <tr>
        <td class="dashboard-icon"><i class="fas fa-user"></i></i></td>
        <td class="dashboard-link"> <%= link_to "My account", "#" %></td>
      </tr>
    </table>
  </div>
  <div class="edit-event-container">
    <h2>Edit <%= @venue.name %> </h2>
    <%= render 'form' %>
  </div>
</div>
