<h1>
  <%= @venue.name %>
</h1>
<% if @venue.photo.attached? %>
  <div><%= cl_image_tag @venue.photo.key, height: 200, width: 8000, crop: :fill %></div>
<% end %>
<h2>
  Created by: <%= @venue.user.first_name %> <%= @venue.user.last_name %>
</h2>
<ul>
  <li>Address: <%= @venue.address %></li>
  <li>Postcode: <%= @venue.postcode %></li>
  <li>Email: <%= @venue.email %></li>
  <li>Telephone: <%= @venue.telephone %></li>
  <li>Website: <%= @venue.website %></li>
</ul>

<% if @venue.user == current_user %>
  <div><%= link_to "Edit venue", edit_venue_path(@venue) %></div>
  <p>Delete venue</p>
<% end %>
