<title><%= meta_title %></title>
  <% content_for :meta_title, "#{@venue.name} is on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_image, cl_image_path(@venue.photo.key) %>
<div class="header" style="background-image: url(<%= image_url("brick-wall.png") %>)">
  <h1 class="header-text"><%= @venue.name %></h1>
</div>
<div class="container">
  <% if @venue.photo.attached? %>
    <div class="event-image-venue" style="background-image: url(<%= cl_image_path(@venue.photo.key) %>)">
    </div>
  <% end %>
  <div class="row venue-details-container">
    <div class="venue-details">
      <table class="venue-details-table">
        <tr class="venue-detail-row">
          <td class="venue-detail-icon">
            <i class="fas fa-map-marker-alt"></i>
          </td>
          <td class="venue-detail-text">
            <% @venue.address.split(',').each do |line| %>
              <%= line %><br>
            <% end %>
            <%= @venue.postcode %>
          </td>
        </tr>
        <tr class="venue-detail-row">
          <td class="venue-detail-icon">
            <i class="fas fa-phone"></i>
          </td>
          <td class="venue-detail-text">
            <a href="tel:<%= @venue.telephone %>"><%= @venue.telephone %></a>
          </td>
        </tr>
        <tr class="venue-detail-row">
          <td class="venue-detail-icon">
            <i class="fas fa-envelope"></i>
          </td>
          <td class="venue-detail-text">
            <a href="mailto:<%= @venue.email %>">Email the venue</a>
          </td>
        </tr>
        <tr class="venue-detail-row">
          <td class="venue-detail-icon">
            <i class="fas fa-globe-americas"></i>
          </td>
          <td class="venue-detail-text">
            <a href="<%= @venue.website %>" target="blank">Go to their website</a>
          </td>
        </tr>
        <tr class="venue-detail-row">
          <td class="venue-detail-icon">
            <i class="fas fa-star"></i>
          </td>
          <td class="venue-detail-text">
            <%= @venue.average_rating %>
          </td>
        </tr>
      </table>
    </div>
    <div id="map" class="venue-map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <% if @has_performed && @has_left_review == false %>
      <div id="rating_modal_button" class="rating_modal_button">How was your experience performing at the <%= @venue.name %>? Leave a rating now.</div>
  <% end %>

  <h2 class="event-banner-title">Events at the <%= @venue.name %></h2>
  <div class="scrollable-card-list-performers left-align-slick">
    <% @sorted_events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="venue-event-card">
          <div class="venue-event-card-details">
            <div class="venue-event-calendar">
              <div class="month"><%= event.date.strftime("%b").upcase %></div>
              <div class="date"><%= event.date.strftime("%d") %></div>
              <div class="day"><%= event.date.strftime("%a") %></div>
            </div>
            <div class="venue-event-name-time">
              <h3><%= event.name %></h3>
              <i class="far fa-clock"></i>
              <%= event.time.strftime("%-l%P") %>
            </div>
          </div>
          <% if event.available_spots > 0 %>
            <div class="e-card-button-available e-card-button">
              <span>Slots available: <%= event.available_spots %></span>
            </div>
          <% else %>
            <div class="e-card-button-unavailable e-card-button">
              <span>Fully booked</span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="rating_modal" class="rating_modal">
  <div class="rating_modal_content">
    <span id="close_rating_modal"><i class="fas fa-times"></i></span>
    <%= simple_form_for [@venue, @review] do |f| %>
      <p>How would you rate your experience performing at the <%= @venue.name %>?</p>

      <%= f.input :performer_experience, collection: (1..5).to_a, label: false %>
      <%= f.submit "Submit", class: :rating_confirm %>
    <% end %>
  </div>
</div>
