<h1>
  <%= @venue.name %>
</h1>
<h2>
  Created by: <%= @venue.user.first_name %> <%= @venue.user.last_name %>
</h2>
<ul>
  <li>Address: <%= @venue.address %></li>
  <li>Postcode: <%= @venue.postcode %></li>
  <li>Email: <%= @venue.email %></li>
  <li>Telephone: <%= @venue.telephone %></li>
  <li>Website: <%= @venue.website %></li>
</ul>

<% if @venue.user == current_user %>
  <div><%= link_to "Edit venue", edit_venue_path(@venue) %></div>
<% end %>

<h2>Events at the <%= @venue.name %></h2>
<% @venue.events.each do |event| %>
  <%= link_to event.name, event_path(event) %> on <%= event.date %><br>
<% end %>
